@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #0e0a09;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.white{
	color:#fff !important;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 2px solid #cb2d1b;
  display: inline-block;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
}
.divhide{
display:none;
}
#hero-banner p{
    font-size: 20px;
    font-weight: bolder;
    color: #252525 !important;
    line-height: 30px;
    margin-bottom: 28px;
}
.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #cb2d1b;
  color: #fff;
  padding: 10px 25px;
  font-size: 14px;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #cb2d1b;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%; 
}
.thumbnail{
	padding:0;
	border-radius: 0;
	text-align: center;
	border: 1px solid #a6a6a6;
	background: #000;
	color: #fff !important;
}
.thumbnail h3{
	font-size: 23px;
	text-transform: uppercase;
	color: #cb2d1b;
}
.thumbnail h4{
	font-size: 14px;
	color: #fff;
}
.thumbnail .caption {
    padding: 9px;
    color: #848484;
}
.thumbnail .price{
	font-size: 12px;
	color: #cb2d1b;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: rgba(254, 254, 254, 0.3);}
.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {background: #ffffff4d;}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {background: #ac1d0d;color: #FFFFFF;}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  border-top: 1px solid #FB4425;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 22px;
  border-color: #cb2d1b;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 16px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: #FFFFFF;
 
background: transparent;
}
.navbar-default .navbar-nav>li>a{
color: #FFFFFF;
}
 
#main-nav.navbar-default {background: #cb2d1b;}
@media only screen and (min-width: 768px) {
  #main-nav.navbar-default {
    /* background: #02020c; */
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}
  .navbar-default .navbar-nav>li>a {
	color: rgba(255, 255, 255, 0.71);
	}
  #main-nav.navbar-default .navbar-nav > li.active > a,

  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
	color: #fff;
	background: #ab1b0b;
}
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}
#hero-banner{
  overflow: hidden;
  color: #4C4C4C;
}
#hero-banner.item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#hero-banner.banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
}
#hero-banner{
  background: #FFFFFF url('../images/banner/bg1.jpg') no-repeat 100% bottom;
  margin-top: -19px;
  }
#hero-banner h2 {
  margin-top: 44%;
  font-size: 50px;
  line-height: 49px;
  color: #fff;
}
#hero-banner.banner-inner h2 > span {
  color: #45aed6;
}
#hero-banner.banner-inner .btn {
  margin-top: 10px;
} 
 
#hero-text {
  padding: 50px 0;
  border-top: 1px solid #FFFFFF;
  background: #085C98;
  color: #F4F4F4;
}
#hero-text h2 {
  margin-top: 0;
}
#hero-text .btn {
  margin-top: 40px;
  color: #085C98;
  background: #fff;
}
#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features h2, #portfolio p{/* color: #4A4A4A; */}
#features {
  padding: 140px 0;
  background: #FFFFFF;
  color: #000;
}
.help-block ul li{
	list-style:none;
	color:red;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #cb2d1b;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 120px 0 80px;
  border-top: 1px solid #ffffff3b;
}
#mainservice {
  padding: 120px 0 80px;
  border-top: 1px solid #cb2d1b;
}
.media.service-box {
  padding: 20px 15px 10px;
  overflow: hidden;
  border-bottom: 2px solid #E0E0E0;
  color: #b7b7b7;
  border: 1px solid #5A5A5A;
  background: #0e0a09;
}
.media.service-box .pull-left {
  margin-right: 0px;
}
.media.service-box .pull-left > i {
  font-size: 64px;
  height: 94px;
  line-height: 64px;
  text-align: center;
  width: 106px;
  color: #19BD9B;
  /* background:#fff; */
  /* box-shadow: inset 0 0 0 1px #d7d7d7; */
  /* -webkit-box-shadow: inset 0 0 0 1px #d7d7d7; */
  transition: background-color 400ms, background-color 400ms;
  position: relative;
  border-bottom: 0;
  padding: 14px;
  margin: 60px 10px 0 -25px;
  position: relative;
  bottom: 44px;
  /* left: 14px; */
}
#hero-banner h2, 
#hero-banner p {color: #c2185b;/* padding: 15px; *//* border: 4px solid rgba(56, 56, 56, 0.08); */}
.media.service-box:hover .pull-left > i {  
}
#portfolio {
  padding: 140px 0;
  /* background: #2f2f2f; */
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin:0px 2px;
  color: #141414;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #4E4E4E;
  color: #FFFFFF;
} 
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
  text-align: center;
  background: #343434;
  color: #282828;
  padding: 0 0 4px 0;
  font-weight: normal;
}
#portfolio .portfolio-item .portfolio-item-inner h4{
font-weight:400;
font-size: 16px;
color: #62BDF0;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.62);
  color: #cb2d1b;
  height:100%;
  text-align: center;
  transition: all .2s ease-in-out;
  font-weight: bold;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview { 
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 0 1px #fff;
  display:block;
  -webkit-box-shadow: 0 0 0 1px #fff;
  text-align: center;
margin: 15px auto;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  border: 20px solid rgba(246, 246, 246, 0.13);
  transform: scale(.9);
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.img-thumbnail {
display: inline-block;
max-width: 100%;
height: auto;
line-height: 1.42857143;
border: 1px solid #ddd;
border-radius: 0px;
padding:0px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin-bottom: 15px;
}
#testimonial {
  background: #cb2d1b;
  background-size: cover;
  padding: 140px 0;
  color: #fff;
  background-size: cover;
  background-blend-mode: inherit;
}
#testimonial h2{
color:#fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 8px;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
background: transparent;
border: 1px solid rgba(255, 255, 255, 0.2);
margin: 0 8px;
}

.team-wrapper {overflow-x: hidden;position: relative;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transform: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;margin-bottom:30px;background: #0e0a09;}
.team-wrapper:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
.team-wrapper .team-inner {background-size: cover;/* background-position: center; */-moz-background-size: cover;-webkit-background-size: cover;padding: 150px 0 10px;/*background-image: url('../img/girl-big.jpg');*//* border-top: 1px solid #fff; *//* border-right: 1px solid #fff; *//* border-left: 1px solid #fff; *//* border-radius: 10px 10px 0px 0px; *//* background: red; */}

.team-wrapper > .team-inner > a {color: rgb(40, 141, 203);width: 80px;height: 80px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;margin: 0 auto -50px;display: block;color: rgb(203, 45, 27);z-index: 999;font-size: 36px;padding: 25px 22px;background-color: #fff;-webkit-transition: all 0.8s ease-in-out;-moz-transition: all 0.8s ease-in-out;-o-transition: all 0.8s ease-in-out;transition: all 0.8s ease-in-out;}

.team-wrapper > .team-inner > a:hover {color: #fff;text-decoration: none;background-color: rgb(40, 141, 203);}


.team-wrapper .description {padding: 30px 20px 20px;text-align: center;border-bottom: 1px solid #fff;border-right: 1px solid #fff;border-left: 1px solid #fff;color: #a3a3a3;}

.team-wrapper .description h5 {color: #fff;}

.download-now
{
	background: #FEDE00;
	background-size: 30%;
	padding: 140px 0 0;
}
.download-now p
{
	color: #979797;
	font-size: 16px;
	line-height: 30px;
	margin: 10px 15px 10px 0;
}
.download-btn
{
	border: solid 3px #fff;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	letter-spacing: 2px;
	margin-bottom: 185px;
	moz-border-radius: 3px;
	padding: 15px 70px;
	transition: all 0.5s ease;
	webkit-border-radius: 3px;
}
.download-btn:hover, .download-btn:focus
{
	border-color: #FFFFFF;
	color: #222222;
	text-decoration: none;
	background: #fff;
}

#about {
  padding: 140px 0;
  color: #b5b5b5;
  position: relative;
}
section#about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #212121; */
    -moz-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(14deg);
 }
#about h2{/* color: #4F4F4F; */}
.download-now {
  position: relative;
  color: #fff;
  padding: 120px 0 0;
}
.download-now:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4E4E4E;
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(14deg);
  background-size: cover;
}
.download-now h2{
color: #fff !important;
}
/*Team*/ 
#team {
  padding: 140px 0 0;
  /* background: #292929; */
}
 
/*Testimonial Area*/

.testimonial-area{
	padding-bottom:60px;
}
.single-testimonial{
	margin-bottom:30px;
}
.single-testimonial blockquote{
	padding:15px 20px;
	margin-bottom:35px;
	position:relative;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
	font-size: 14px;
	color: #292929;
	line-height: 22px;
	border-radius: 0px;
	border: 1px solid #8B8B8B;
	background: #fff;
}
 
.single-testimonial blockquote:after{
	position:absolute;
	bottom:-19px;
	left:45px;
	content:"";
	border-top: 19px solid rgb(255, 255, 255);
	border-right: 22px solid transparent;
}
.single-testimonial img{
	border-radius:50%;
}
.single-testimonial h5{
	padding: 8px 0 0px;
	font-size: 16px;
}
.features i {
  font-size: 35px;
  color: #FEDE00;
}
.download-now .features p{
padding:0px;
margin: 15px 0;
}
 .features .media.service-box .pull-left > i{color: #cb2d1b;/* border: 4px solid #fff; */background: #0e0a09;font-size: 32px;border-radius: 50%;width: 80px;height: 80px;margin-left: 0;line-height: 52px;}
.features .media.service-box {
 margin: 0px 0 25px;
}

.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  position: relative;
  color: #fff;
  padding: 60px 0;
}
#business-stats:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1513;
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(11deg);
  background-size: cover;
}
#business-stats {
  padding: 140px 0 70px;
  /* background: #3a3a3a; */
  background-size: cover;
  color: #fff;
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #fff;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: normal;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 5px solid #ffffff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 140px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  padding: 15px;
  text-align: center;
  background-color: #5d5d5d;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
  color: #f3f3f3;
}
#pricing ul.pricing li.plan-header {
  background: #6e6e6e;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  /* border-bottom: 2px solid #a6a6a6; */
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -10px;
  display: inline-block;
  width: 100%;
  height: 116px;
  color: #fff;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #5c5c5c;
  border: 1;
}
#pricing ul.pricing.featured  li.plan-header .price-duration{color: #fff;}
#pricing ul.pricing.featured li.plan-header {
  background: #cb2d1b;
  border-bottom: 2px solid #3d3939c7;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#contact-us {
  padding: 100px 0 10px;
}
#contact-us h1,
#contact-us h2 {
}
/*Contact*/
 .contact-info{
 padding:60px 0;
 }
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control {padding: 12px 12px;border-radius: 0;background: #0e0a09;border-color: #8d8d8d;}
 .business-stats:before {
content: '';
margin: 17px;
display: block;
border: currentcolor;
height: 100px;
border-radius: 50%;
position: absolute;
width: 100px;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.6);
  background: #0e0a09;
  font-size: 13px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #FFA98E;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
 display: inline-block; 

 border: 1px solid rgba(255, 255, 255, 0.09);
padding: 3px 0;
width: 31px;
text-align: center;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media only screen and (max-width: 480px) {
#hero-banner h2 {
margin-top: 280px;
font-size: 26px;
line-height: 40px;
background: rgba(255, 255, 255, 0.68);
padding: 10px;
}
#hero-banner p {
font-size: 18px;
background: rgba(255, 255, 255, 0.68);
padding: 10px;
}
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}
	#portfolio .portfolio-item {
	width: 48.9%;
	padding: 8px;
	}
	#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px; 
margin: 9px auto;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative; 
	height:600px;
}
.fade-carousel .carousel-inner .item {
    /* height: 100vh; */
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #cb2d1b;
    border-color: #cb2d1b;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
 

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #cb2d1b;
    border-color: #cb2d1b;
    outline: none;
    margin: 20px auto;
}
.fade-carousel .slides{
	position:relative;
}
.fade-carousel .slides:before{
	position:absolute;
	content:'';
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: #29292987;
	z-index:1;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
 
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url("../images/banner/bg1.jpg"); 
}
.fade-carousel .slides .slide-2 {
  background-image: url("../images/banner/bg2.jpg");
} 
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
	.fade-carousel,
	.fade-carousel .slides .slide-1, 
	.fade-carousel .slides .slide-2,
	.fade-carousel .slides .slide-3 { 
		height:600px;
	}
}
@media screen and (max-width: 979px){
    .hero { width: 918px; }    
	.fade-carousel,
	.fade-carousel .slides .slide-1, 
	.fade-carousel .slides .slide-2,
	.fade-carousel .slides .slide-3 { 
		height:600px;
	}
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
	.fade-carousel,
	.fade-carousel .slides .slide-1, 
	.fade-carousel .slides .slide-2,
	.fade-carousel .slides .slide-3 { 
		height:400px;
	}
}
#kimou {
  color: red;

}
#zizou {
  height: 200px;
  width: 350px;
  margin-bottom: -150px;
  margin-top: -120px;
}